:root {
  --color-dark-blue: #002a8d;
  --color-light-blue: #0759a4;
  --color-lead-blue: #a2b5d2;
  --color-white: #ffffff;
  --color-green: #6ac90f;
  --color-light-skyblue: #ebf4ff;
  --color-red: #ff0000;
  --color-plomo-oscuro: #adadad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
}

.contenido-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 1px 2px 9px -4px #000000;
}
.icono-regreso {
  margin-right: 16px;
}
.contenido-texto {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 18%;
  background-color: var(--color-dark-blue);
}
.contenido-texto h1 {
  font-size: 28px;
  color: var(--color-white);
}
.contenido-texto-bienvenido {
  display: flex;
  flex-direction: column;
  padding: 0 53px;
  align-items: center;
}
.contenido-texto-bienvenido p {
  font-size: 20px;
  font-weight: 300;
}
.icono-persona-sin-foto {
  width: 89px;
}
.logo-empresa {
  width: 88px;
}

/* estilos para la seccion de body seccion busqueda  */
.contenido-total-seccion-busqueda {
  margin: 10px;
  margin-top: 30px;
}
.Contenido-seccion-busqueda {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--color-plomo-oscuro);
  box-shadow: 1px 2px 9px -7px #000000;
}
.Contenido-seccion-busqueda label {
  margin-right: 12px;
  font-size: 16px;
}
.Contenido-seccion-busqueda input {
  height: 35px;
  width: 200px;
  padding-left: 12px;
  background-color: var(--color-white);
}
.Contenido-seccion-busqueda input:focus {
  outline: none;
}
.contenido-inputs {
  height: 36px;
}
.input-busqueda-factura {
  border: none;
}
.estados {
  margin-left: 14px;
  border: 2px solid var(--color-dark-blue);
}
.imagen-flecha {
  width: 31px;
  margin-left: -32px;
  background-color: var(--color-light-blue);
  margin-top: 2px;
  position: absolute;
  cursor: pointer;
}
.Contenido-seccion-busqueda button {
  height: 40px;
  width: 200px;
  font-size: 18px;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
.imagen-logo {
  width: 50px;
  cursor: pointer;
}
/* estilos para la lista de filtrado por estatus */
.lista-estatus {
  display: none;
  border: 2px solid var(--color-dark-blue);
  border-top: none;
  width: 200.3px;
  position: absolute;
  margin-left: 102px;
  background-color: var(--color-white);
}
.lista-estatus ul,
.lista-cancelado ul {
  list-style: none;
}
.lista-estatus li,
.lista-cancelado li {
  padding-left: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.lista-cancelado {
  display: none;
  border: 2px solid var(--color-dark-blue);
  border-top: none;
  width: 200px;
  position: absolute;
  margin-left: 94px;
  background-color: var(--color-white);
}

/* estilos para la seccion de filtros por fechas  */
.total-filtro-fechas {
  display: none;
}
.contenido-filtro-fechas {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  border: 1px solid var(--color-plomo-oscuro);
  border-top: none;
}
.filtro-fechas input {
  margin-left: 20px;
  height: 30px;
  width: 200px;
  padding: 0 18px;
  cursor: pointer;
}
.contenido-imagenes-fechas {
  display: flex;
}
.imagen-check {
  width: 50px;
  margin-right: 12px;
  cursor: pointer;
}
.imagen-recarga {
  width: 50px;
  margin-right: 12px;
  cursor: pointer;
}
.imagen-flecha-abajo {
  width: 33px;
  cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--color-light-skyblue);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.formulario {
	min-width: 600px;
	margin-top: 50px;
	background: var(--color-white);
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid var(--color-light-skyblue);
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid var(--color-dark-blue);
}

.formulario button[type="submit"] {
	display: block;
	background: var(--color-dark-blue);
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: var(--color-white);
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: var(--color-dark-blue);
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: var(--color-green);
}

.formulario input[type="radio"] {
	width: auto;
}