:root {
  --color-dark-blue: #002a8d;
  --color-light-blue: #0759a4;
  --color-lead-blue: #a2b5d2;
  --color-white: #ffffff;
  --color-green: #6ac90f;
  --color-light-skyblue: #ebf4ff;
  --color-red: #ff0000;
  --color-morado-claro: #4f6bed;
  --color-rosado: #fabbc3;
  --color-rojo-opaco: #a4262c;
  --color-rojo-claro: #c7636a;
  --color-plomo-oscuro: #adadad;
  --color-naranja: #ca5010;
  --colo-naranja-claro: #ef8d23;
  --color-verde-claro: #caf0cc;
  --color-plomo: #858585;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
}

.contenido-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 1px 2px 9px -4px #000000;
}
.icono-regreso {
  margin-right: 16px;
}
.contenido-texto {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 16%;
  background-color: var(--color-dark-blue);
}
.contenido-texto h1 {
  font-size: 25px;
  color: var(--color-white);
}
.contenido-texto-bienvenido {
  display: flex;
  flex-direction: column;
  padding: 0 53px;
  align-items: center;
}
.contenido-texto-bienvenido p {
  font-size: 16px;
  font-weight: 300;
}
.icono-persona-sin-foto {
  width: 89px;
}
.logo-empresa {
  width: 88px;
}

/* estilos para la seccion de body seccion busqueda  */
.contenido-total-seccion-busqueda {
  margin: 10px;
  margin-top: 30px;
}
.Contenido-seccion-busqueda {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--color-plomo-oscuro);
  box-shadow: 1px 2px 9px -7px #000000;
  margin-bottom: -9px;
}
.Contenido-seccion-busqueda label {
  margin-right: 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.Contenido-seccion-busqueda input {
  height: 35px;
  width: 200px;
  padding-left: 12px;
  background-color: var(--color-white);
}

.Contenido-seccion-busqueda input:focus {
  outline: none;
}
.contenido-inputs {
  height: 36px;
}
.input-busqueda-factura {
  border: none;
}
.estados {
  margin-left: 14px;
  border: 2px solid var(--color-dark-blue);
}
.imagen-flecha {
  width: 32px;
  background-color: var(--color-light-blue);
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
  z-index: 98;
}
.cancelado-flecha {
  margin-left: 241.5px;
}
.estatus-flecha {
  margin-left: 247.5px;
}
.contenido-seccion-boton {
  height: 40px;
  width: 200px;
  font-size: 18px;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
.imagen-logo {
  width: 50px;
  cursor: pointer;
}
/* estilos para la lista de filtrado por estatus */
.lista-estatus {
  display: none;
  border: 2px solid var(--color-dark-blue);
  border-top: none;
  width: 200.1px;
  position: absolute;
  margin-left: 81px;
  background-color: var(--color-white);
}
.lista-estatus ul,
.lista-cancelado ul {
  list-style: none;
}
.lista-estatus li,
.lista-cancelado li {
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 12px;
  cursor: pointer;
}
.lista-estatus li:hover {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}
.lista-cancelado {
  display: none;
  border: 2px solid var(--color-dark-blue);
  border-top: none;
  width: 200px;
  position: absolute;
  margin-left: 75px;
  background-color: var(--color-white);
}
.clear-button {
  margin-left: 170px;
  position: absolute;
  background-color: transparent;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: var(--color-plomo);
}
 /* esstilos para la seccion de filtros de cancelado  */
 buscarPorEstatus{
  margin-left: 241px;
 }
 .clear-boton-cancelado {
  position: absolute;
  margin-left: 100px;
  background-color: transparent;
  border: none;
  color: var(--color-plomo);
  font-size: 20px;
  cursor: pointer;
 }
/* estilos para la seccion de filtros por fechas  */
.total-filtro-fechas {
  display: none;
}
.contenido-filtro-fechas {
  display: flex;
  height: 66px;
  width: 100%;
  justify-content: space-between;
  padding: 0 80px;
  border: 1px solid var(--color-plomo-oscuro);
  margin-bottom: -5px;
  align-items: center;
  margin-top: 9px;
}
.filtro-fechas input {
  margin-left: 20px;
  height: 30px;
  width: 200px;
  padding: 0 18px;
  cursor: pointer;
}
.contenido-imagenes-fechas {
  display: flex;
}
.imagen-check {
  width: 50px;
  margin-right: 12px;
  cursor: pointer;
}
.imagen-recarga {
  width: 50px;
  margin-right: 12px;
  cursor: pointer;
}
.imagen-flecha-abajo {
  width: 33px;
  cursor: pointer;
}

/* estilos para la tabla de muestra */
table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

td {
  width: 100px;
}
td,
th {
  padding: 5px;
}
.fila-tabla {
  height: 50px;
  border-radius: 4px;
  background-color: var(--color-lead-blue);
  font-size: 16px;
  transition: all 350ms;
}
.fila-tabla:hover {
  transform: scale(0.98);
}
.contenido-tabla {
  width: 100%;
}
.tabla-seccion-header {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  height: 50px;
}
.contenido-header tr {
  background-color: darkviolets;
}
.primera-columna {
  border-radius: 6px 0 0 6px;
  border-spacing: 0 3px;
}
.ultima-columna {
  border-radius: 0 6px 6px 0;
}

tbody {
  text-align: center;
}

/* // estilos para segun el estado que nos manden  */
.activa {
  background-color: var(--color-green);
}
.anulada {
  background-color: var(--color-rojo-opaco);
}
.anulada-con-nc {
  background-color: var(--color-naranja);
}

/* estilos segun si la factura esta cancelada o no  */
.cancelado-si {
  background-color: var(--color-verde-claro);
}
.cancelado-no {
  background-color: var(--color-rojo-claro);
}

/* esitlos segun el estatus de la factura */
.estatus-emitido {
  background-color: var(--color-morado-claro);
}
.estatus-programado {
  background-color: var(--color-verde-claro);
}
.estatus-ingresado {
  background-color: var(--colo-naranja-claro);
}
.estatus-rechazado {
  background-color: var(--color-rosado);
}
